.fps-counter {
  position: absolute;
  left: 1rem;
  top: 1rem;
  width: 5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border: 1px solid #ffffff44;
  background-color: #00000044;
}
